.elevator {
  width: 100px;
  height: 100px;
  background-color: red;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;

  transition: bottom 2s linear;
  transition-timing-function: linear;
}

