@font-face {
  font-family: 'Digital';
  src: url('../fonts/digital-7.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background:linear-gradient(#CAF2F2 50%, #fff);
}
