#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;

  .ground {
    align-self: stretch;
    width: 100%;
    background: linear-gradient(#7AC978 50%, #A8DEA6);
    z-index: 1;
  }
}