#app {
  margin: 0;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .ground {
    width: 100vw;
    height: 100px;
    background: linear-gradient(#7AC978 50%, #A8DEA6);
    z-index: 1;
  }
}